body {
    margin-top: 70px;
    background-color: #ecf0f5;
}


/*this is to push the page sown and make a room for the contetns not collapsing with the nav bar*/

.navbar {
    background-color: #3996cc;   
}

.navbar-brand {
    padding: 0px;
}

/*.navbar-brand img {
    height: 100%;
    width: auto;
}*/

.navbar > #collapse-menu > .nav > li > a:active {
    /*the a/elemnts and focus/pseduoclass to target shall have to be close to the :;*/
    background-color: #1e6893;
}

.navbar > #collapse-menu > .nav > li > a:focus {
    /*the a/elemnts and focus/pseduoclass to target shall have to be close to the :;*/
    background-color: #1e6893;
}

.navbar > #collapse-menu > .nav > li > a:hover {
    /*the a/elemnts and focus/pseduoclass to target shall have to be close to the :;*/
    background-color: #1e6893;
}

.navbar > #collapse-menu > .nav > li > a {
    color: #ffffff;
    font-size: 16px;
    font-family: "Trebuchet MS";
    font-style: normal;
}

.dropdown-menu > li > a:hover {
    /*does not work if put after the code block at line 35*/
    background-color: #d7d7d7;
}

.dropdown-menu > li > a {
    color: #000000;
    font-size: 14px;
    font-family: "Trebuchet MS";
    font-style: normal;
}

#body {
    font-family: "Lucida Sans";
    font-style: normal;
    font-color: black;
}

h3 {
    font-size: 16px;
    font-style: bold;
}

label {
    font-size: 14px;
}

.form-control {
    border-color: #b7b7b7;
    font-size: 13px;
}

.form-control:focus {
    border-color: #00baff;
}

#s1,
#s2,
#s3 {
    width: 200px;
}


/*#thead-div{
	border: solid;
}
*/

#scrollable {
    height: 300px;
    /*overflow: auto;*/
    /*border: solid;*/
}


/*#scrollable{
	
	border: solid;
}

tbody {
    display:block;
    height:200px;
    overflow:auto;
}
thead,  tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
*/


/*npm fixed top*/


/*td.fth-header, th.fth-header,
  {
border-top: none !important;
border-bottom: 1px solid #ddd;
}
td.fth-header, th.fth-header {
background-color: #3D7083;
color: white;
}
*/


/*.table thead , tbody {
	border: solid;
}*/


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
